@import "../../fonts.css";

.nav-btn {
    font-family: sst;
    font-weight: 500;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-btn-title:hover, .nav-btn-title:active {
    color: #0170CC;
}

.nav-btn-title-opened {
    color: #0170CC
}

.nav-btn-arrow {
    width: .65rem;
    margin-top: .3rem;
    margin-left: .25rem;
    transition: transform 0.15s;
}

.nav-btn-arrow-rotate {
    transform: rotate(180deg);
}