@import '../../fonts.css';

.container {
    font-family: sst;
    font-weight: 500;
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btnTitle:hover, .btnTitle:active {
    color: #0170CC;
}

.arrow {
    width: .65rem;
    margin-top: .3rem;
    margin-left: .25rem;
    transition: transform 0.15s;
}

.rotate {
    transform: rotate(180deg);
}