.iconSection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem
}

.dotSection {
    display: flex;
    gap: 3rem
}

.iconElement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
