@import "../../fonts.css";

.navdrop-container {
    box-sizing: border-box;
    background-color: white;
    font-size: .85rem;
    font-family: sst;
    font-weight: 500;
    position: relative;
    z-index: 1;
    width: calc(100% - 4.6rem);
    height: 800px;
    padding: 1rem;
    margin-left: auto;
    margin-top: .6rem;
    box-shadow: -4px 10px 27px -2px #ccc;
}

/* title section */

.navdrop-title-section {
    display: flex;
    align-items: center;
    margin-bottom: 1.75rem;
}

.navdrop-close-btn {
    width: .9rem;
    margin-right: 1rem;
    cursor: pointer;
}

/* icon section */

.navdrop-icon-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(200, 200, 200)
}

.navdrop-icon-el {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 47.5%;
    min-width: 8rem;
    height: 5rem;
    border-radius: 2px;
    cursor: pointer;
}

.navdrop-icon-el:hover {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}

.navdrop-icon-image {
    transform: scale(33%);
}

.navdrop-icon-title {

}

/* dot section */

.navdrop-dot-el {
    margin-top: 1.5rem;
}
