.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-header {
  display: flex;
}

.navBar {
  margin: auto;
  display: flex;
  gap: 1rem;
}

.drop-section {
    font-size: .7rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}